.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  width: 30rem;
  padding: 6rem 2rem 4rem;
  border-radius: 4.5rem;
  margin-top: 3.5rem;
  margin-right: 3.5rem;
  background: #FFFFFF;
  box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2B2E2D;
  &__link {
    width: 8rem;
    height: 7.8rem;
    &:hover {
      filter: drop-shadow( 0px 4px 4px rgba(63, 132, 206, 0.6)); 
      cursor: pointer;
    }
  }
}
